<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-2">
        <h5>Firearms</h5>
        <ul class="list-unstyled">
          <li><a href="##">Assembled</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Amunition</h5>
        <ul class="list-unstyled">
          <li><a href="##">Assembled Rounds</a></li>
          <li><a href="##">Components</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>TTF transfers</h5>
        <ul class="list-unstyled">
          <li><a href="##">Assembled</a></li>
          <li><a href="##">Components</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Blog</h5>
      </div>
      <div class="col-sm-2">
        <h5>Contact</h5>
      </div>
    </div>
    <hr>
    <p class="all-right-footer">All rights reserved</p>
  </div>
</footer>

<link href="catalog\view\theme\hbarms\stylesheet\footer.css" type="text/css" rel="stylesheet" media="screen" />

</body>

</html>