.category-hbarms h2{
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    color:#353535;
    margin-top: 93px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.category-hbarms .breadcrumb{
    padding: 0px;
    margin-top:13px;
    margin-bottom: 0px;
} 

/* Styles Rodion */

.grid-category {
    margin-top: 84px;
    margin-bottom: 154px;

}

.grid-category-parents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid-category-parents>.grid-category-child {
    width: 100%;
    height: 283px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}


.grid-category-child>.children-img-block {
    width: 100%;
    display: block;
    height: 160px;
    padding-left: 10%;
    padding-bottom: 34px;
    position: relative;
}
.grid-category-child>.children-img-block>img {
    position: absolute;
    bottom: 34px;
}
.name-category-child {
    display: block;
    font-size: 25px;
    line-height: 60px;
    color: #4F4F4F;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
    padding-left: 10%;
    transition: 0.5s;
}
.name-category-child:hover, .name-category-child:focus {
    color: #000;
    transition: 0.5s;
    outline:none;
}
.detailed-link-grid-child-category {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #BCBCBC;
    transition: 0.5s;
    padding-left: 10%;
}
.detailed-link-grid-child-category:hover {
    color: #4F4F4F;
    transition: 0.5s;
}
.filter-category {
    float: right;
    padding-right: 9%;
    padding-bottom: 59px;
    position: relative;
    top: -59px;
}
.filter-category>a {
    font-size: 18px;
    line-height: 60px;
    font-weight: 800;
    color: #AAAAAA;
    text-transform: uppercase;
    transition: 0.5s;
}
.filter-category>a:hover {
    color: #4F4F4F;
    transition: 0.5s;
}

@media screen and (max-width: 893px) {
    .grid-category-parents {grid-template-columns: 1fr;}
    
}
.btn-link:hover, .btn-link:focus{
    outline:none !important;
}
#list-view{
    padding-right:0px;
}
#list-view i{
    -webkit-text-stroke: 2px white;
}
#grid-view i{
    -webkit-text-stroke: 1px white;
}
.view-product-hbarms{
    margin-top: 59px;
}
.view-product-hbarms .btn-link i{
    font-size: 18px;
    color:#c4c4c4;
}

.view-product-hbarms .btn-link.active i{
    color:#FF8A00;
}
.view-product-hbarms hr{
    color: #DADADA;
    margin-top: 28px;
    margin-bottom: 90px;
}
/* ОБЩИЕ СТИЛИ ДЛЯ СЕТОК  */
.product-hbarms .product-thumb {
    border:none;
}
.product-hbarms .caption{
    padding:0px;
    min-height: 0px !important;
}
.product-hbarms .caption h4{
    margin-top:25px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;  
}
.product-hbarms .caption h4 a{
    color:#353535;
}
.product-hbarms .caption p{
    margin-top:10px;
}
/* СЕТКА ГРИД */
.product-hbarms .product-grid .product-thumb {
    margin-bottom: 188px;
}
/* ПОСТРОЧНАЯ СЕТКА */
.product-hbarms .product-list .product-thumb {
    margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
    .product-hbarms .caption h4{
        text-align: center;
    }
    .product-hbarms .caption p{
        text-align: center;
    }
    .product-hbarms .product-thumb {
        margin-bottom: 80px !important;
    }
}

/* ПАГИНАЦИЯ */
.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius:0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius:0px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #353535;
    border-color: #353535;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
    color: #353535;

}
.pagination > li > a, .pagination > li > span{
    color: #353535;
    border: 1px solid #f8f8f8;
}
@media screen and (max-width: 767px) {
    .pagination-hbarms{
        text-align: center;
    }
    .result-hbarms{
        text-align: center;
        margin-top:30px;
    }
    
}